.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 58%
    right: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 16%
    right: 22%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 90%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 87%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

figcaption
  border-top: 10px solid #1B3F5E

.bloque-texto-b.color-primario:before
  background-color: #FFFCDD

.yelllow
  color: #D84318

.bg5
  background-image: url('../assets/curso/temas/Tema1/Fondoslider.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 10px !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #D84318

.tarjeta.color
  background-color: #CCC47D

.cajon.color-primario
  background-color: #FFFDEB   

.tarjeta.color-tarjetacliente
  background-color: #FFFCEB

.bloque-texto-g__texto3
  right: 500px    
  background-color: rgba(255, 255, 255, 0.9)  
  position: sticky
  width: 75%


.bloque-texto-g__img.carimg
  left: 524px

.cajon.color-acento-contenido
  background-color: #F7FBFF

.img-infografica-b__modal 
  background-color: #03011ee6

.edit-angle
  margin-bottom: 0em

.bloque-texto-g__texto4
  right: 80px    
  background-color: rgba(255, 255, 255, 0.9)  
  position: sticky
  width: 75%


.bg10
  background-image: url('../assets/curso/temas/Tema1/fondoanexo.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 10px !important

.tabs-a__tab
  background-color: #E8E8E8


.bg11    
  background-image: url('../assets/curso/temas/Tema3/Fondoimg.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: center-top

.bg12   
  background-image: url('../assets/curso/temas/Tema3/Fondo2.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: center-top

.bg13
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative

  &::before
    content: ""
    position: absolute
    margin-left: 307px
    margin-top: -1439px
    width: calc( 100% + 96px)
    height: 516%     
    background-image: url('../assets/curso/temas/Tema3/Fondo4.png')
    background-size: 29% auto
    background-repeat: no-repeat
    background-position: bottom

.bg14
  background-image: url('../assets/curso/temas/Tema5/Fondo1.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: center-top